APPIUM_URL=http://localhost:4723
ANDROID_UDID=android-emulator:5555
ANDROID_DEVICE_NAME=Android Emulator
# APP_PATH=C:\path\to\app.apk
# APP_PACKAGE=com.example.app
# APP_ACTIVITY=com.example.MainActivity
