PEPENIUM_PROFILE=local-android
APPIUM_URL=http://localhost:4723
ANDROID_UDID=host.docker.internal:5555
ANDROID_DEVICE_NAME=Android Emulator
# APP_PATH=C:\path\to\app.apk
# APP_PACKAGE=com.example.app
# APP_ACTIVITY=com.example.MainActivity
# DEVICEFARM_SCREENSHOT_PATH=C:\temp\pepenium-screenshots
