PEPENIUM_PROFILE=local-web
PEPENIUM_BASE_URL=https://the-internet.herokuapp.com/login
PEPENIUM_WEB_USERNAME=tomsmith
PEPENIUM_WEB_PASSWORD=SuperSecretPassword!
# PEPENIUM_SCREENSHOT_PATH=C:\temp\pepenium-screenshots
# PEPENIUM_DETAIL_LOGGING=false
# PEPENIUM_STEP_TRACKER_LIMIT=10
# PEPENIUM_REPORT_DIR=target\pepenium-reports
# For driver tuning, see .env.web.capabilities.example
