userName: user
accessKey: 1234
framework: junit5
platforms:
  - os: Windows
    osVersion: "11"
    browserName: Chrome
    browserVersion: latest
parallelsPerPlatform: 1
browserstackLocal: false
buildName: browserstack-build-1
projectName: BrowserStack Sample
