<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} %-5level %logger{1} %notEmpty{[%X{profile}]}%notEmpty{[%X{targetShort}]}%notEmpty{[%X{driverShort}]}%notEmpty{[#%X{sessionShort}]} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
